{% extends 'base.html.twig' %}

{% block meta_refresh %}
{#<meta http-equiv="refresh" content="60"> //TODO #}
{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="container center">

        <div style="margin-top: 8px;">&nbsp;</div>

        <img src="{{ asset('build/assets/images/technology-6701504_640.jpg') }}" class="logo-img">

        <form action="" method="get">
            <div class="input-group mb-1" style="width: 30%;position: fixed;float: left">
                {% if phrase is defined %}
                    <input type="text" name="phrase" class="form-control search-input" placeholder="{{ phrase }}"
                           aria-label="Recipient's username" aria-describedby="button-addon2"
                    >
                {% else %}
                    <input type="text" name="phrase" class="form-control search-input" placeholder="type URL here"
                           aria-label="Recipient's username" aria-describedby="button-addon2"
                    >
                {% endif %}
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search"></i> Analyze
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .imgmain {
            margin-top: 64px;
            display: block;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

