<a id="logo" href="{{ path('homepage') }}">
    <img src="build/assets/images/logo.png" class="logo-img" width="64" alt="logo">
    <span class="logo-text">
        pagio
    </span>
</a>

<div class="links" style="margin-left: 0px">
</div>

<div class="links">
    <a href="">home</a>
    &nbsp; / &nbsp;
    <a href="">about</a>
</div>

{% block stylesheets %}
    <style>
        a {
            text-decoration: none;
        }
        .logo-text {
            color: #ffffff;
            margin-left: 32px;
        }
        .logo-img {
            color: #162969;
            font-size: 40px;
            font-weight: 400;
            line-height: 100px;
            margin-bottom: 10px;
            margin-top: 2px;
        }
        .links {
            float: right;
            margin-top: -32px;
            position: absolute;
            right: 16px;
            color: #5eb5e0;"
        }
        .links a {
            color: #9fcdff;
        }
    </style>
{% endblock %}
