<a id="logo" href="{{ path('homepage') }}">
    <img src="build/assets/images/logo.png" class="logo-img" width="64">
    <span style="color: #ffffff;margin-left: 32px">
        pagio
    </span>
</a>

<div class="links" style="margin-left: 0px">
</div>

<div class="links" style="margin-top: -32px;float: right;position: absolute;right: 16px">
</div>

{% block stylesheets %}
    <style>
        .logo-img {
            color: #162969;
            font-size: 40px;
            font-weight: 400;
            line-height: 100px;
            margin-bottom: 10px;
            margin-top: 2px;
        }
        .links {
            float: right;
            margin-top: 16px;
        }
        .links a {
            color: #9fcdff;
        }
    </style>
{% endblock %}
